/* SCSS variable */
$base-color: #011d38; // Website background color
$skeletonBackground: lighten($base-color, 18% );
$skeletonBackground: #2F4B66;
$border-dark: rgba($base-color, 0.88);
$stagger-time: 200;
/* END SCSS variable */

.skeleton-block {
    .skeleton-background {
        background-color: $skeletonBackground;
        .skeleton-loading {
          background-color: $base-color;
        }
    }
    // .skeleton-dimension-holder{
      .skeleton-loading {
        
        animation-delay: 0ms;
        animation-iteration-count: infinite;
        animation-name: skeleton-animation;
        animation-direction: alternate;
        animation-timing-function: steps(10, end);
        animation-duration: 0.5s;
        background-color: $skeletonBackground;

        &.cicle {
          display: block;
          border-radius: 100%;
        }
        &.text-block {
          border-radius: 5px;
          height: 12px;
        }
      }
      @for $i from 1 through 6 {
        h#{$i}.skeleton-loading.text-block {
            height: #{ 26 - 2 * $i}px;
        }
      }
      @for $i from 1 through 5 {
        .skeleton-delay-#{$i} {
            animation-delay: #{($i - 1) * $stagger-time}ms;
        }
      }
      
      .skeleton-padding {
        padding: 15px 0;
      }
    // }
    .skeleton-dimension-holder{

      border-width: 0px;
      .skeleton-loading.image {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    /* Cap nhat cho theme */
      .blog-entry-author-ava {
        overflow: hidden;
        padding: 0;
      }
      .blog-entry-meta-divider{
        background-color: $skeletonBackground;
      }
  
    /* END Cap nhat cho theme */

  }

  @keyframes skeleton-animation {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.8;
    }
}
.dev-hidden{
  // display: none !important;
}


